@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");

html,
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(168deg, rgb(127, 177, 155) 0%, rgb(203, 122, 209) 100%);
    color: rgb(255, 243, 228);
}

.container {
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .chat-window {
    background-color: rgba(25, 25, 25, 0.611);
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container .chat-window .infos-area {
    height: 40px;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container .chat-window .infos-area p {
    padding: 10px;
}

.container .chat-window .chat-area {
    height: 380px;
    width: 450px;
    overflow-y: scroll;
}

.container .chat-window .chat-area .buddy-msg {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px 0 10px;
}

.container .chat-window .chat-area .buddy-msg p {
    background-color: #313131dd;
    width: fit-content;
    max-width: 350px;
    padding: 10px;
    border-radius: 10px;
}

.container .chat-window .chat-area .user-msg {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 0 10px;
}

.container .chat-window .chat-area .user-msg p {
    background-color: #3c8275;
    width: fit-content;
    max-width: 350px;
    padding: 10px;
    border-radius: 10px;
}

.container .chat-window .input-area {
    background-color: #313131dd;
    height: 38px;
    width: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container .chat-window .input-area input {
    width: 400px;
    border: none;
    height: 38px;
    color: rgb(255, 243, 228);
    background: transparent;
    outline: none;
    font-family: "Montserrat", sans-serif;
    padding-left: 10px;
}

.container .chat-window .input-area button {
    color: rgb(255, 243, 228);
    background: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 31px;
}

.container .chat-window .input-area button {
    font-size: 16px;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #3838388b;
    border-radius: 10px;
}
